<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/image1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/image2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/image3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-8">
            <p><strong>Introducción:</strong></p>
            <p>¿Estás buscando mejorar tu salud y bienestar general? ¿Te apasionan los deportes y buscas estar al día
                con las últimas noticias y tendencias? ¡En Tu Portal Integral de Deportes y Salud encontrarás todo lo
                que necesitas para alcanzar tus objetivos!</p>
            <p><strong>¿Qué ofrecemos?</strong></p>
            <ul>
                <li>Artículos informativos: Escritos por expertos en salud y deporte, te brindarán información
                    actualizada sobre diversos temas como:
                    <ul>
                        <li>Nutrición y alimentación saludable</li>
                        <li>Entrenamiento y rutinas de ejercicio</li>
                        <li>Prevención de lesiones</li>
                        <li>Psicología deportiva</li>
                        <li>Bienestar mental</li>
                        <li>Y más</li>
                    </ul>
                </li>
                <li>Noticias deportivas: Mantente informado sobre los últimos eventos deportivos, resultados, análisis y
                    entrevistas exclusivas a atletas y personalidades del mundo del deporte.</li>
                <li>Guías y tutoriales: Te guiaremos paso a paso para que puedas realizar ejercicios de manera segura y
                    efectiva, aprender nuevas técnicas deportivas y mejorar tu rendimiento.</li>
                <li>Consejos prácticos: Te compartiremos tips y recomendaciones para que puedas adoptar un estilo de
                    vida más saludable y activo.</li>
                <li>Recetas saludables: Descubre deliciosas y nutritivas recetas que te ayudarán a alcanzar tus metas de
                    salud.</li>
                <li>Comunidad online: Únete a nuestra comunidad de amantes del deporte y la salud para compartir
                    experiencias, hacer preguntas y recibir apoyo.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Últimas Noticias</h2>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <img src="../../../assets/c1.jpg" class="card-img-top" alt="Noticia1">
                        <div class="card-body">
                            <h5 class="card-title">Noticia 1</h5>
                            <p class="card-text">El día 15 de junio ocurrió tal cosa.</p>
                            <a href="http://link/1" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-3">
                        <img src="../../../assets/c2.jpg" class="card-img-top" alt="Noticia2">
                        <div class="card-body">
                            <h5 class="card-title">Noticia 2</h5>
                            <p class="card-text">El día 16 de junio ocurrió tal otra cosa.</p>
                            <a href="http://link/2" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-3">
                        <img src="../../../assets/c3.jpg" class="card-img-top" alt="Noticia3">
                        <div class="card-body">
                            <h5 class="card-title">Noticia 3</h5>
                            <p class="card-text">El día 17 de junio pasó otra cosa interesante.</p>
                            <a href="http://link/3" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>