<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-2">
      <img src="assets/img/logo.jpg" alt="Logo" class="img-fluid">
    </div>
    <div class="col-8 text-center">
      <h1>Tu Portal Integral de Deportes y Salud</h1>
      <h5>Mejora tu bienestar físico y mental con consejos, noticias y guías de expertos.</h5>
      <ul class="list-unstyled horizontal-list">
        <li><a href="/Inicio" class="footer-links">Inicio</a></li>
        <li><a href="/Nosotros" class="footer-links">Nosotros</a></li>
        <li><a href="/Noticias" class="footer-links">Noticias</a></li>
      </ul>
    </div>
    <div class="col-2 text-end">
      <img src="assets/img/avatar.jpg" alt="Avatar" class="img-fluid">
    </div>
  </div>
  <router-outlet></router-outlet>
  <footer class="row mt-4">
    <div class="col-6">
      <p>&copy; Datos de Copyright</p>
    </div>
    <div class="col-6 text-end">
      <p>Datos de contacto</p>
    </div>
  </footer>
</div>
