body {
    font-family: Arial, sans-serif;
    background-color: #fafaf8;
  }
  
  .container {
    margin-top: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
  }
  
  header img {
    max-width: 100%;
  }
  
  #carouselExampleIndicators img {
    max-width: 100%;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-title {
    color: #333;
  }
  
  .card-subtitle {
    color: #666;
  }
  
  .card-text {
    color: #777;
  }
  
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
  }
  
  a {
    color: #f5f5f5;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .horizontal-list {
    display: flex;
    justify-content: space-between; 
    list-style: none;
    padding: 0;
  }
  
  .footer-links {
    text-decoration: none;
    color: #000;
    padding: 5px 10px; 
  }
  
  .footer-links:hover {
    color: #ffffff;
  }
  